<div class="container" ng-app="app">

  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h1><i><b>Acceptd</b></i> Control Center</h1>
    </div>

    <form ng-controller="AcceptdController as acceptdCtrl">
      <div class="panel-body">
        <section class="well">
          <div class="row">
            <span class="col-lg-2">
              Timeout in seconds: <b>{{script_params.timeout_in_seconds}}</b>;
              Browser: <b>{{script_params.browser}}</b>;
              Driver: <b>{{script_params.driver}}</b>;
              WebApp URL: <b>{{script_params.webapp_url}}</b>
            </span>
          </div>
          <div class="row">
            <span class="col-lg-2">
              <button class="btn btn-info" ng-click="acceptdCtrl.navigate_to_config()">Config</button>
            </span>
            <span class="col-lg-2">
              <button class="btn btn-info" ng-click="acceptdCtrl.save_config()">Save</button>
            </span>
          </div>
        </section>

        <section class="well">
          <div class="row">
            <div class="col-lg-3 h3">
              <label>
                Workspace Directory
              </label>
            </div>

            <div class="col-md-4 tree-browser">
              <js-tree tree-events="select_node:nodeSelected" tree-ajax="/file_browser/tree"></js-tree>
            </div>

            <div class="col-md-8 file-viewer">
              <pre><code>{{fileViewer}}</code></pre>
            </div>

            <div class="col-lg-6 h3">
              <input type="text" ng-model="script_params.workspace_dir" class="form-control"
                     ng-change="update_projects()"
                     placeholder="Root directory for your acceptance project(s)"/>
            </div>
          </div>
        </section>

        <section class="well">
          <div class="row">
            <div class="col-lg-3 h3">
              <label>
                Project
              </label>
            </div>

            <div class="col-lg-6 h3">
              <select ng-model="script_params.selected_project" class="form-control"
                      ng-options="project for project in script_params.projects">
              </select>
            </div>
          </div>
        </section>

        <section class="well">
          <div class="row">
            <div class="col-lg-9 h3">
              <label>
                Selected Tests
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <span id="helpBlock" class="help-block">Select acceptance script(s) you want to run.</span>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <select ng-model="script_params.selected_files" class="form-control" multiple size="9">
                <option ng-selected="script_params.selected_files.indexOf(file) >=0"
                        ng-repeat="file in script_params.feature_files" value="{{file}}">{{file}}
                </option>
              </select>
            </div>
          </div>
        </section>

        <section class="well">
          <div class="row">
            <span class="col-lg-2">
              <button name="run_script" ng-disabled="{{progressbar.status() === 'started'}}" class="btn btn-primary" ng-click="acceptdCtrl.run_script()">Run</button>
            </span>
            <span class="col-lg-2">
              <button name="cancel_run" ng-disabled="{{progressbar.status() != 'started'}}" class="btn btn-primary" ng-click="acceptdCtrl.cancel_run()">Cancel</button>
            </span>
            <span class="col-lg-2">
              <button class="btn btn-primary" ng-click="acceptdCtrl.reset_session()">Reset Session</button>
            </span>

          </div>

          <div class="row">
            <div class="col-lg-9">
              <progressbar ng-hide="progressbar.value() < 1" type="success" value="progressbar.value()" max="100">
                <i ng-if="progressbar.status() == 'completed'">Success!</i>
                <i ng-if="progressbar.status() == 'error'" style="color: red">Failed!</i>
              </progressbar>
            </div>
          </div>
        </section>

        <section class="well">
          <div class="row">
            <div class="col-lg-12 h3">
              <label>
                Output
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <textarea class="output" rows="15" ng-model="result"></textarea>
            </div>
          </div>
        </section>
      </div>
    </form>

  </div>

</div>
