<div class="container" ng-app="app">

  <div class="panel panel-primary">
    <div class="panel-heading text-center">
      <h1><i><b>Acceptd</b></i> Control Center</h1>
    </div>

    <form ng-controller="ScriptParamsController as scriptParamsCtrl">
      <div class="panel-body">
        <section class="well">
          <div class="row">
            <div class="col-lg-3 h3">
              <label>
                Project
              </label>
            </div>

            <div class="col-lg-9 h3">
              <select ng-model="script_params.selected_project" class="form-control"
                      ng-options="project for project in script_params.projects">
              </select>
            </div>
          </div>
        </section>

        <section class="well">
          <div class="row">
            <div class="col-lg-3 h3">
              <label>
                Web Application URL
              </label>
            </div>

            <div class="col-lg-9 h3">
              <input type="url" ng-model="script_params.webapp_url" class="form-control"
                     placeholder="URL of web site you want to test"/>
            </div>
          </div>
        </section>

        <section class="well">
          <div class="row">
            <div class="col-lg-3 h3">
              <label>
                Timeout in seconds
              </label>
            </div>

            <div class="col-lg-2 h3">
              <input type="text" ng-model="script_params.timeout_in_seconds" class="form-control"
                     placeholder="Timeout in seconds"/>
            </div>
          </div>
        </section>

        <section class="well">
          <div class="row">

            <div class="col-lg-3 h3">
              <label>
                Browser
              </label>
            </div>

            <div class="col-lg-4">
              <div class="radio">
                <label>
                  <input type="radio" ng-model="script_params.browser" ng-checked="script_params.browser == 'firefox'">
                  Firefox
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="script_params.browser" ng-checked="script_params.browser == 'chrome'">
                  Chrome
                </label>
              </div>
            </div>
          </div>
        </section>

        <section class="well">
          <div class="row">
            <div class="col-lg-3 h3">
              <label>
                Driver
              </label>
            </div>

            <div class="col-lg-4">
              <div class="radio">
                <label>
                  <input type="radio" ng-model="script_params.driver" ng-checked="script_params.driver == 'selenium'">
                  Selenium
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" ng-model="script_params.driver" ng-checked="script_params.driver == 'webkit'">
                  Webkit
                </label>
              </div>
            </div>
          </div>
        </section>

        <section class="well">
          <h3>Selected Tests</h3>

          <span id="helpBlock" class="help-block">Select acceptance script(s) you want to run.</span>

          <div class="row">
            <div class="col-lg-6">
              <select ng-model="script_params.selected_files" class="form-control" multiple>
                <option ng-selected="script_params.selected_files.indexOf(file) >=0"
                        ng-repeat="file in script_params.files" value="{{file}}">{{file}}</option>
              </select>
            </div>

            <div class="col-lg-2">
              <button class="btn btn-primary btn-block" ng-click="scriptParamsCtrl.run_script()">Run</button>
            </div>

            <div class="col-lg-2">
              <button class="btn btn-info" ng-click="scriptParamsCtrl.save_config()">Save Parameters</button>
            </div>
          </div>

          <hr />

          <div class="row">
            <div class="col-lg-12">
              <progressbar type="success" value="progressbar.value" max="100">
                <i>{{progressbar.status == 'success' ? "Success!" : ""}}</i>
              </progressbar>
            </div>
          </div>

        </section>
      </div>
    </form>

  </div>

</div>
