<!DOCTYPE html>
<html lang="en">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <title>
    <%= "Acceptd Control Center" %>
  </title>
  <!--<link rel="icon" type="image/png" href="img/favicon.png" />-->
  <link rel="stylesheet" type="text/css" href="/javascripts/bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/javascripts/bower_components/NgHierarchicalSelector/release/ng-hierarchical-selector.0.3.4.css">

  <script src="/javascripts/bower_components/jquery/dist/jquery.js"></script>
  <script src="/javascripts/bower_components/angular/angular.js"></script>
  <script src="/javascripts/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/javascripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/javascripts/bower_components/NgHierarchicalSelector/release/ng-hierarchical-selector.0.3.4.js"></script>

  <link rel="stylesheet" type="text/css" href="/stylesheet.css" media="screen"/>

  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/routes.js"></script>
  <script src="/javascripts/settings.js"></script>
  <script src="/javascripts/acceptd/routes.js"></script>
  <script src="/javascripts/acceptd/acceptd_controller.js"></script>
  <script src="/javascripts/acceptd/acceptd_service.js"></script>
  <script src="/javascripts/acceptd/progressbar.js"></script>

  <script src="/javascripts/directory_selector/routes.js"></script>
  <script src="/javascripts/directory_selector/directory_selector.js"></script>
  <script src="/javascripts/directory_selector/directory_opener.js"></script>

  <script src="/javascripts/acceptd/config_controller.js"></script>
</head>

<body>
  <%= yield %>
</body>

</html>