<!DOCTYPE html>
<html lang="en">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <title>
    <%= "Acceptd Control Center" %>
  </title>
  <!--<link rel="icon" type="image/png" href="img/favicon.png" />-->
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css">
  <!--<script type="text/javascript" src="js/app.js"></script>-->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->

  <script src="/javascripts/bower_components/angular/angular.js"></script>
  <script src="/javascripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/javascripts/bower_components/angular-timer/dist/angular-timer.js"></script>

  <script src="/javascripts/app.js"></script>
  <script src="/javascripts/progressbar.js"></script>
  <script src="/javascripts/stream_service.js"></script>
  <script src="/javascripts/acceptd_controller.js"></script>
  <script src="/javascripts/settings.js"></script>

  <link rel="stylesheet" type="text/css" href="/stylesheet.css" media="screen"/>
</head>

<body>
  <%= yield %>
</body>

</html>